/* 전체 */
.booking{
    width: 100%;
    height: 1219px;
    margin: 0 auto;
    display: flex;
    background-color: #444;
}

/* 좌측 메뉴 */
.booking_menu {
  width: 170px;
  margin: 0 0 0 auto;
}
.booking_menu ul{
    height: 1072px;
    padding-top: 73.5px;
    text-align: center;
}

.booking_menu ul li{
    width: 90px;
    height: 268px;
    padding-top: 90px;
    margin-bottom: 10px;
    opacity: 0.4;
    /* transition: 0.3s; */
    border: 1px solid #000;
    background-color: #fff;
}
.booking_menu ul li.active {
  background-color: #111;
  color: #fff;
  opacity: 1;
}
.booking_menu ul li strong{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 우측 예매메뉴 */
.booking_content {
    width: 1207px;
    height: 1101px;
    margin: 0 auto;
    margin-top: 73.5px;
    margin-left: -30px;
    background-color: #fff;
    padding: 30px;
}
.step {
    display: none;
}

.step.active {
    display: flex;
    gap: 20px;
}
.select_group {
    margin-bottom: 25px;
}
.select_group h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select_group ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.select_group ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select_group button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.select_group button:hover {
    background: #eee;
}

.select_group button.selected {
    background: red;
    color: #fff;
}
.theater li {
  display: none;
}
.datetime {
  display: flex;
  flex-direction: column;
}