 /* 전체 */
.booking{
    width: 100%;
    height: 1219px;
    margin: 0 auto;
    display: flex;
    background-color: #444;
}

/* 좌측 메뉴 */
.booking_menu {
  width: 120px;
  margin: 0 0 0 auto;
}
.booking_menu ul{
    height: 1101px;
    padding-top: 73.5px;
    text-align: center;
}

.booking_menu ul li{
    width: 90px;
    height: 268px;
    padding-top: 90px;
    opacity: 1;
    /* transition: 0.3s; */
    border: 1px solid #000;
    background-color: #fff;
}
.booking_menu ul li.active {
  background-color: #ff0000;
  color: #fff;
  opacity: 1;
}
.booking_menu ul li strong{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 우측 예매메뉴 */
.booking_content {
    width: 1207px;
    height: 1101px;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 2px;
    background-color: #fff;
    /* padding: 30px; */
}


/* 우측 상단 메뉴 */
.step ul{
    display: flex;
    padding-left: 0;
}
.step > ul li{
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 20px;
}
.step > ul li:nth-of-type(1){
    width: 431px;
    height: 68px;
    font-size: 17px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
} 
.step > ul li:nth-of-type(2){
    width: 433px;
    height: 68px;
    font-size: 17px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
} 
.step > ul li:nth-of-type(3){
    width: 616px;
    height: 68px;
    font-size: 17px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
} 

/* 영화관선택 */
.theater_wrap {
    border: 1px solid #ddd;
}
.region_list {
    background: #f5f5f5;
}

.region_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.region_list li {
    padding: 15px;
    cursor: pointer;
}

/* 선택된 지역*/
/*.region_list li.active {
    background: #fff;
    font-weight: bold;
}
.theater_list { 
    width: 215px; 
    background: #fff;
}

.theater_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.theater_list li {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.theater_list li.selected {
    color: red;
    font-weight: bold;
}

.select_group {
    margin-bottom: 25px;
}
.select_group h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select_group ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.select_group ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select_group button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.select_group button:hover {
    background: #eee;
}

.select_group button.selected {
    background: red;
    color: #fff;
}
.theater li {
  display: none;
}
.datetime {
  display: flex;
  flex-direction: column; 
} */