@charset "utf-8";

/* header */
header{
    width: 100%;
    height: 1390px;
    background: linear-gradient(to bottom, rgb(29, 29, 31) 0%, rgba(0, 0, 0, 0) 100%);
    background-color: black;
}
.headermain{
    width: 1207px;
    height: 100%;
    margin: 0 auto;
}

header #logo{
    width: 1207px;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #888;
}

header #logo a img{
    width: 280px;
    height: 90px;
}

nav{
    margin-top: 30px;
}
nav .topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .topnav ul:first-child{
    width: 470px;
    height: 25px;
    display: flex;
    justify-content: center;
}
nav .topnav ul:last-child{
    width: 350px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
}


nav .topnav ul li::after {
    content: "|";
    margin-left: 20px;
    margin-right: 20px;
    font-size: 8px;
    color: #888;
}
nav .topnav ul li:last-child::after {
    content: "";
}
nav .topnav ul a{
    color: #888;
    font-weight: 600;
}

/* main */
main{
    width: 1207px;
    height: 1924px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: darkgreen;
}


/* footer */
footer{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #eaeaea;
}

footer #inner{
    width: 1207px;
    margin: 0 auto;
}

footer #inner img{
    width: 190px;
    height: 50px;
}
#inner .footermenu ul{
    display: flex;
}
#inner .footermenu ul li::after{
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
}
#inner .footermenu ul li:last-child:after{
    content: "";
}
#inner .footermenu ul li a{
    font-size: 12px;
    font-weight: 500;
    color: #888;
}
#inner .footermenu ul li:nth-of-type(3) a{
    font-size: 12px;
    text-decoration: underline;
    color: #000;
}
#inner .cominfo p:first-child{
    font-size: 12px;
    font-weight: 700;
    color: #888;
}
#inner .cominfo p:last-child{
    color: #888;
    font-size: 12px;
}
#inner .ceo ul{
    display: flex;
}
#inner .ceo ul li::after {
    content: "|";
    margin-left: 6px;
    margin-right: 6px;
    font-size: 8px;
    color: #888;
}
#inner .ceo ul li:nth-of-type(4)::after {
    content: "";
}
#inner .ceo ul li:last-child::after {
    content: "";
}
#inner .ceo ul li{
    font-size: 12px;
    color: #888;
}
#inner .ceo ul li a {
    margin-left: 6px;
    text-decoration: underline;
    color: #000;
}
#inner p{
    font-size: 12px;
    color: #888;
}