#movie_list{
    width: 1207px;
    height: 100%;
    margin: 0 auto;
}
#movie_list h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#movie_list .movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    position: relative;
}
.movie .box img{
    width: 250px;
    border-radius: 5px;
}
.movie .box h4{
    font-size: 18px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie .box p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    position: relative;
    overflow: hidden;
}

.txtbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 357px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
}
.box:hover .txtbox {
    opacity: 1;
}
.box .txtbox a{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin: 5px;
}