@charset "utf-8";

.inner_banner {
    position:absolute;    
    height: 365px;
}

.navi-bar{
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2;
}

.navi-bar li {
    width: 403px;
    height: 44px;
    line-height: 50px;
    border: 1px;
    text-align: center;
    border-bottom: 0;
    font-size: 18px;
    font-weight: 300;
}