{% extends 'base.html' %}

{% block title %}
    공지사항 - 필름아티크
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='question_list.css') }}">
{% endblock %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="menu">
                <h3 id="sub_title">고객센터</h3>
                <div class="service">

                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">QNA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">1:1문의</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section1">
        <div class="container">

            <table class="table table">
                <thead>
                <tr class="table-secondary">
                    <th>영화관</th>
                    <th>제목</th>
                    <th>등록일</th>
                </tr>

                </thead>

                <tbody>
                {% if notice_list %}
                    {% for notice in notice_list %}  <!--현재 페이지 해당 게시물-->
                        <tr>
{#                            <td>{{ notice_list.total - (notice_list.page - 1) * notice_list.per_page - loop.index0 }}</td>#}
{#                            <td>#}
{#                                <a href="{{ url_for('notice.detail', notice_id=notice.id) }}">{{ notice.subject }}</a>#}
{#                                {% if notice.answer_set|length > 0 %}#}
{#                                    <span class="text-danger small mx-1">[{{ notice.answer_set | length }}]</span>#}
{#                                {% endif %}#}
{#                            </td>#}
                            <td>{{ notice.theater }}</td>
                            <td>
                                <a href="{{ url_for("cs.notice_detail", notice_id=notice.id) }}">{{ notice.title }}</a>

                            </td>

{#                            <td>{{ notice.userid.username }}</td>#}
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">질문이 없습니다.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <!--페이징처리 Start-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                </ul>
            </nav>

        </div>
    </div>
{% endblock %}

{#{% block script %}#}
{#<script>#}
{#    // 페이지버튼 클릭시#}
{#    const page_elements = document.querySelectorAll('.page-link')#}
{#    console.log(page_elements)#}
{#    page_elements.forEach(element => {#}
{#        element.addEventListener('click', function () {#}
{#            const page = this.dataset.page;#}
{#            if (page) {#}
{#                document.getElementById('page').value = page;#}
{#                document.getElementById('searchForm').submit();#}
{#            }#}
{#        })#}
{#    })#}
{#    </script>#}
{#    {% endblock %}#}

{#                <tbody>#}
{#                {% if notice_list.items %}#}
{#                    {% for notice in notice_list.items %}#}
{#                        <tr>#}
{#                            <td>{{ notice.theater }}</td>#}
{##}
{#                            <td>#}
{#                                <a href="#">#}
{#                                    {{ notice.title }}#}
{#                                </a>#}
{#                            </td>#}
{##}
{#                            <td>#}
{#                                {{ notice.create_date.strftime('%y.%m.%d') }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    <tr>#}
{#                        <td colspan="3">공지사항이 없습니다.</td>#}
{#                    </tr>#}
{#                {% endif %}#}
{#                </tbody>#}
{#            </table>#}
{#            <div class="d-grid gap-2 col-6 mx-auto">#}
{#                <button class="btn btn-outline-secondary" type="button">#}
{#                    더보기 +#}
{#                </button>#}
{#                </table>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
{#{% block script %}#}
{#    <script>#}
{#        const tabMenu = document.querySelectorAll('.nav nav-underline');#}
{#        const tabContent = document.querySelectorAll('.nav-link');#}
{##}
{#        tabMenu.forEach((tm, i) => {#}
{#            tm.addEventListener('click', () => {#}
{#                // 모든 탭 메뉴에서 'active' 클래스 제거#}
{#                tabMenu.forEach(item => {#}
{#                    item.classList.remove('active');#}
{#                });#}
{##}
{#                // 클릭한 탭 메뉴에만 'active' 클래스 추가#}
{#                tm.classList.add('active');#}
{##}
{#                // 탭에 해당하는 리스트 보이고, 나머지는 숨기기#}
{#                tabContent.forEach((tc, j) => {#}
{#                    tc.style.display = (i === j) ? 'flex' : 'none';#}
{#                });#}
{#            });#}
{#        });#}
{##}
{#    </script>#}
{#{% endblock %}#}