 /* 전체 */
.payment {
    width: 100%;
    height: 1219px;
    margin: 0 auto;
    display: flex;
    background-color: #444;
}

/* 좌측 메뉴 */
.payment_menu {
  width: 120px;
  margin: 0 0 0 auto;
}
.payment_menu ul{
    height: 1101px;
    padding-top: 73.5px;
    text-align: center;
}
.payment_menu ul li{
    width: 90px;
    height: 268px;
    padding-top: 90px;
    opacity: 1;
    /* transition: 0.3s; */
    border: 1px solid #000;
    background-color: #fff;
}
.payment_menu ul li.active {
  background-color: #ff0000;
  color: #fff;
  opacity: 1;
}
.payment_menu > ul > li:first-child{
    color: #fff;
    background-color: #666;
}
.payment_menu > ul > li:nth-child(2) {
    color: #fff;
    background-color: #666;
}
.payment_menu ul li strong{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 우측 예매메뉴 */
.payment_content {
    width: 1207px;
    height: 1030px;
    margin: 0 auto;
    margin-top: 75px;
    margin-left: 2px;
    background-color: #fff;
    /* padding: 30px; */
}


/* 우측 상단 메뉴바 */
.payment_title ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
.payment_title > ul li{
    width: 1480px;
    height: 68px;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
}
.payment_title > ul li:last-child{
    width: 700px;
}

.pay_total{
    display: flex;
}
/* 영화정보 */
.payment_info {
    width: 850px;
    height: 899px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.payment_info .poster img{
    width: 200px;
    height: 280px;
    margin-top: 100px;
    margin-bottom: 80px;
}
.age {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-right: 6px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.payment_info_content{
    font-size: 20px
}
.payment_info_content > h5{
    font-size: 23px;
    font-weight: bold;
}

.age-19 {
    background-color: #d32f2f; /* 빨강 */
}
.age-15 {
    background-color: #f57c00; /* 주황 */
}
.age-12 {
    background-color: #1976d2; /* 파랑 */
}
.age-all {
    background-color: #388e3c; /* 초록 */
}

.payment_sys{
    width: 402.33px;
    height: 899px;
}


/* 인원 설정 */
/* .person_num{
    display: flex;
    width: 160px;
    height: 50px;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.person_num span{
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.person_num .mins{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.person_num .plus{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.person_num .basic_num{
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
} */

/* 좌석 선택 */
/* .seatbar {
    width: 100%;
    height: 103px;
    background-color: #000;
}
.seatbar span:first-child {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.seatbar .screen {
    display: block;
    width: 1000px;
    height: 30px;
    margin-left: 100px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ccc;
} */

/* 좌석 */
/* .seatselect{
    width: 100%;
    height: 632px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #000;
}
.seat_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.row_label {
    width: 20px;
    color: white;
}
.seat {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.seat.selected {
    background: red;
    color: white;
}
.seatinfo {
    background-color: #000;
    display: flex;
}
.seatinfo span{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
.seatinfo_list .selected{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: default;
    background: red;
}
.seatinfo_list .unavailable{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: default;
    background: #ccc;
}
.seatinfo_list .non{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: default;
    background: #666;
} */

/* 결제버튼 */
/* .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price .total_price {
    padding: 0 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.price #btnPayment {
    width: 250px;
    height: 64px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF243E;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
} */
