 /* 전체 */
.personseat {
    width: 100%;
    height: 1219px;
    margin: 0 auto;
    display: flex;
    background-color: #444;
}

/* 좌측 메뉴 */
.personseat_menu {
  width: 120px;
  margin: 0 0 0 auto;
}
.personseat_menu ul{
    height: 1101px;
    padding-top: 73.5px;
    text-align: center;
}

.personseat_menu ul li{
    width: 90px;
    height: 268px;
    padding-top: 90px;
    opacity: 1;
    /* transition: 0.3s; */
    border: 1px solid #000;
    background-color: #fff;
}
.personseat_menu ul li.active {
  background-color: #ff0000;
  color: #fff;
  opacity: 1;
}
.personseat_menu > ul > li:first-child{
    color: #fff;
    background-color: #666;
}
.personseat_menu ul li strong{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 우측 예매메뉴 */
.personseat_content {
    width: 1207px;
    height: 1030px;
    margin: 0 auto;
    margin-top: 75px;
    margin-left: 2px;
    background-color: #fff;
    /* padding: 30px; */
}


/* 우측 상단 메뉴바 */
.personseat_title ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
.personseat_title > ul li{
    width: 1480px;
    height: 68px;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
}
.personseat_title > ul li span{
    display: block;
    font-size: 12px;
    color: #ccc;
    margin-top: 3px;
}

/* 상세옵션 */
.persontotal{
    display: flex;
}

/* 선택한 영화 정보 */
.selectmovie {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 30px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.poster img{
    width: 55px;
    height: 82px;
    margin-right: 10px;
    border-radius: 5px;
}
.age {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-right: 6px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.age-19 {
    background-color: #d32f2f; /* 빨강 */
}
.age-15 {
    background-color: #f57c00; /* 주황 */
}
.age-12 {
    background-color: #1976d2; /* 파랑 */
}
.age-all {
    background-color: #388e3c; /* 초록 */
}

/* 인원 설정 */
.person_num{
    display: flex;
    width: 160px;
    height: 50px;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.person_num span{
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.person_num .mins{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-right: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.person_num .plus{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.person_num .basic_num{
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

/* 좌석 선택 */
.seatbar {
    width: 100%;
    height: 103px;
    background-color: #000;
}
.seatbar span:first-child {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.seatbar .screen {
    display: block;
    width: 1000px;
    height: 30px;
    margin-left: 100px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ccc;
}

/* 좌석 */
.seatselect{
    width: 100%;
    height: 632px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #000;
}
.seat_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.row_label {
    width: 20px;
    color: white;
}
.seat {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.seat.selected {
    background: red;
    color: white;
}
.seatinfo {
    background-color: #000;
    display: flex;
}
.seatinfo span{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
.seatinfo_list .selected{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: default;
    background: red;
}
.seatinfo_list .unavailable{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: default;
    background: #ccc;
}
.seatinfo_list .non{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: default;
    background: #666;
}

/* 결제버튼 */
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price .total_price {
    padding: 0 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.price #btnPayment {
    width: 250px;
    height: 64px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF243E;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}


/* 영화관선택 */
/* .theater_wrap {
    width: 351.53px;
    border: 1px solid #ddd;
}
.region_list {
    background: #f5f5f5;
}

.region_list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.region_list li {
    width: 165px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* 선택된 지역*/
/* .region_list li.active {
    background: #fff;
    font-weight: bold;
}
.theater_list{ 
    background: #fff;
}
.theater_list ul {
    height: 960px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
} */

/* .theater_list ul::-webkit-scrollbar {
	width: 20%;
    background-color: #ff0000;
}

.theater_list ul::-webkit-scrollbar-thumb {
    background: rgba(220, 20, 60); 스크롤바 색상
    border-radius: 10px; 스크롤바 둥근 테두리
}

.theater_list ul::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, .1);  스크롤바 뒷 배경 색상
} */

/* .theater_list li {
    width: 175px;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.theater_list li.selected {
    color: red;
    font-weight: bold;
} */

/* 그룹 간격 */
/* .select_group {
    margin-bottom: 25px;
} */

/* 영화 선택 */
/* .movie ul{
    width: 353.17px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.movie ul > li{
    height: 50px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie li.selected {
    color: red;
    font-weight: bold;
} */

/* 등급별 색상 */
/* .movie_age {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-right: 6px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.age-19 {
    background-color: #d32f2f; 
}
.age-15 {
    background-color: #f57c00; 
}
.age-12 {
    background-color: #1976d2; 
}
.age-all {
    background-color: #388e3c; 
} */

/* 날짜선택 */
/* .date ul {
    width: 502.3px;
    display: flex;
    justify-content: center;
}
.date ul li {
    width: 60px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
}
.date li:hover {
    background: #eee;
}
.date li.selected {
    background: #111;
    color: #fff;
    font-weight: bold;
}
.day {
    display: block;
    font-size: 18px;
}
.week {
    font-size: 12px;
} */

/* 시간선택 */
/* .time ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.time_btn {
  width: 90px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
}
.time_btn:hover {
  background: #f5f5f5;
}
.time_btn.selected {
  background: red;
  color: #fff;
}
.seat {
  display: block;
  font-size: 11px;
  font-weight: normal;
  margin-top: 5px;
} */

/* 좌석선택 */
/* .btnToSeats{
    margin-top: 637px;
}
.btnToSeats #btnSeats{
    width: 100%;
    height: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF243E;
    font-size: 20px;
    color: #fff;
} */

