.store_pay_inner {
    width: 100%;
    height: auto;
    background-color: #444;
}

.store__pay_page_top {
    width: 100%;
    height: 50px;
    background-color: #444;
}

.store__pay_page {
    width: 1421px;
    height: 872px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}

.menu_name {
    width: 810px;
    height: 100%;
}

.menu_name_top {
    width: 100%;
    height: 68px;
    background-color: black;
    border-right: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_name_top h2  {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.menu_name_main {
    width: 100%;
    height: 804px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.product_img img {
    width: auto;
    height: 400px;
}

.product_name {
    width: 100%;
    height: auto;
}

.product_name h3 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

.product_detail {
    width: 100%;
    height: auto;
}

.product_detail h4 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

.product_price {
    width: 100%;
    height: auto;
}

.product_price h2 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

.payment_sys {
    width: 611px;
    height: 100%;
}

.payment_sys_top {
    width: 100%;
    height: 68px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_sys_top h2  {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.payment_sys_main {
    width: 100%;
    height: 804px;
    background-color: #eaeaea;
}

.pay_menu {
    width: 100%;
    height: 704px;
    padding: 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.store__pay_page_bottom {
    width: 100%;
    height: 50px;
    background-color: #444;
}