{% extends 'base.html' %}

{% block title %}
    공지사항 - 필름아티크
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">

{% endblock %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="menu">
                <h3 id="sub_title">고객센터</h3>
                <div class="service">

                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("cs.faq_list") }}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{{ url_for("cs.notice_list") }}">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for("cs.privacy_list") }}">1:1문의</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="container">

            <p>
                <img src="{{ url_for('static', filename='img/info_icon.png') }}" alt="info_icon">
                자주 찾는 질문 전체가 기본으로 표시됩니다. 원하는 구분의 목록만 보려면 아래 메뉴에서 선택해주세요.
            </p>


            <select class="form-select w-25">

                <option selected>전체</option>
                <option value="1">예매</option>
                <option value="2">관람권</option>
                <option value="3">영화관이용</option>
                <option value="4">멤버쉽</option>
                <option value="5">할인혜택</option>
            </select>

            <div class="outside">
                <table class="table">
                    <thead>
                    <tr class="table-secondary">
                        <th>구분</th>
                        <th>질문</th>
                        <th>등록일</th>
                    </tr>

                    </thead>
                    <tbody>

                    {% for faq in faq_list %}
                        <tr>
                            <td class="table-light">{{ faq.kind }}</td>
                            <td class="table-light">{{ faq.question }}</td>
                            <td>{{ faq.create_date.strftime('%Y년 %m월 %d일 %p %I:%M') }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <!--이전버튼-->
                    {% if faq_list.has_prev %}
                        <li class="page-item">
                            <a href="?page={{ faq_list.prev_num }}" class="page-link">이전</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
                        </li>
                    {% endif %}
                    <!--페이지 번호-->
                    {% for page_num in faq_list.iter_pages() %}
                        {% if page_num %}
                            {% if page_num != faq_list.page %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="disabled">
                                <a class="page-link" href="javascript:void(0)">...</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!--다음페이지-->
                    {% if faq_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ faq_list.next_num }}">다음</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='notice_list.js') }}"></script>
{% endblock %}