{% extends 'base.html' %}

{% block title %}
공지사항
{% endblock %}

{% block styles %}
<style>
    .btn-cancel{
        background-color: #b91c1c;
        border-color: #b91c1c;
        color: white;
    }

    .btn-cancel:hover{
        background-color: #991b1b;
        border-color: #991b1b;
        color: white;
    }
</style>
{% endblock %}

{% block content %}

<div class="container" style="max-width:800px;">

    <h3 class="my-4">
        {% if form.title.data %}
            공지사항 수정하기
        {% else %}
            공지사항 등록하기
        {% endif %}
    </h3>

    <form method="post" novalidate>

        {{ form.csrf_token }}

        <!-- 영화관 -->
        <div class="mb-3">
            {{ form.theater.label }}
            {{ form.theater(class="form-select") }}
        </div>

        <!-- 제목 -->
        <div class="mb-3">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <!-- 내용 -->
        <div class="mb-3">
            {{ form.content.label }}
            {{ form.content(class="form-control", rows="20") }}
        </div>

        <button type="submit" class="btn btn-dark">
            저장하기
        </button>

        <a href="{{ url_for('cs.notice_list') }}"
           class="btn btn-cancel">
            취소
        </a>

    </form>

</div>

{% endblock %}