{% extends 'base.html' %}

{% block title %}
공지사항 - 필름아티크
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/question_list.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock %}

{% block content %}

<div class="header">
    <div class="container">
        <div class="menu">
            <h3 id="sub_title">고객센터</h3>
            <div class="service">

                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('cs.faq_list') }}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('cs.notice_list') }}">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('cs.review_list') }}">1:1문의</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section1">
    <div class="container">

        <div class="outside">

            {% if g.user and g.user.admin_role in ['super','manager'] %}
            <div class="admin-top-btn">
                <a href="{{ url_for('cs.notice_create') }}" class="btn-write">
                    공지사항 등록
                </a>
            </div>
            {% endif %}

            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th>영화관</th>
                        <th>제목</th>
                        <th>등록일</th>
                    </tr>

                </thead>

                <tbody>
                    {% if notice_list %}
                    {% for notice in notice_list.items %} <!--현재 페이지 해당 게시물-->
                    <tr>
                        <td>{{ notice.theater }}</td>
                        <td>
                            <a href="{{ url_for('cs.notice_detail', notice_id=notice.id) }}">{{ notice.title }}</a>

                        </td>

                        {# <td>{{ notice.userid.username }}</td>#}
                        <td>{{ notice.create_date.strftime('%Y년 %m월 %d일 %p %I:%M') }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">공지사항이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>


        <!--페이징처리 Start-->
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <!--이전버튼-->
                {% if notice_list.has_prev %}
                <li class="page-item">
                    <a href="?page={{ notice_list.prev_num }}" class="page-link">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
                </li>
                {% endif %}
                <!--페이지 번호-->
                {% for page_num in notice_list.iter_pages() %}
                {% if page_num %}
                {% if page_num != notice_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="disabled">
                    <a class="page-link" href="javascript:void(0)">...</a>
                </li>
                {% endif %}
                {% endfor %}
                <!--다음페이지-->
                {% if notice_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ notice_list.next_num }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                </li>
                {% endif %}
            </ul>

            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/notice_list.js') }}"></script>
{% endblock %}