<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>상품 추가</h1>

    <form method="POST">
        <input name="name" placeholder="상품명"><br>
        <input name="type" placeholder="타입 (티켓/스낵/굿즈)"><br>
        <input name="price" placeholder="가격"><br>
        <input name="stock" placeholder="재고"><br>
        <input name="description" placeholder="설명"><br>
        <input name="image_url" placeholder="이미지 URL"><br>
        <input name="limit" placeholder="구매제한"><br>
        <input name="date" placeholder="유효기간"><br>

        <button type="submit">등록</button>
    </form>
</body>

</html>