<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Film Atique{% endblock %}</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/base.css">

    {% block styles %}

    {% endblock %}

</head>

<body>
    <header>
        <div class="headermain">
            <div id="logo">
                <a href="../templates/main.html">
                    <img src="../static/img/filmatique_red.png" alt="로고">
                </a>
            </div>

            <nav>
                <div class="topnav">
                    <ul>
                        <li><a href="#">예 매</a></li>
                        <li><a href="#">영 화</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="#">매 점</a></li>
                        <li><a href="#">굿 즈</a></li>
                    </ul>

                    <ul>
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">바로 예매</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>

        <!--기본 템플릿 안에 삽입될 내용 start-->
        {% block content %}

        {% endblock %}
        <!--기본 템플릿 안에 삽입될 내용 end-->


        <div id="banner_AD">
            <img src="../static/img/banner_AD.jpg" alt="영화광고">
        </div>
    </main>

    <footer>
        <div id="inner">
            <img src="../static/img/filmatique_red.png" alt="footer-logo">
            <div class="footermenu">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li><a href="#">고정형 영상정보처리기기 운영 및 관리방침</a></li>
                    <li><a href="#">배정기준</a></li>
                    <li><a href="#">채용안내</a></li>
                    <li><a href="#">광고/임대문의</a></li>
                    <li><a href="#">사회적책임</a></li>
                </ul>
            </div>
            <div class="cominfo">
                <p>필름아티크㈜</p>
                <p>경기 수원시 팔달구 권광로 146 벽산그랜드코아 401호</p>
            </div>
            <div class="ceo">
                <ul>
                    <li>대표 이메일 ste-reo@naver.com</li>
                    <li>고객센터 1588-0000 (유료)</li>
                    <li>사업자등록번호 000-00-00000</li>
                    <li>통신판매신고번호 2018-경기수원-1184</li>
                    <li><a href="#">사업자정보확인</a></li>
                </ul>
                <ul>
                    <li>대표 매운짬뽕</li>
                    <li>개인정보 보호 책임자 매운짜장</li>
                    <li>호스팅 제공자 필름아티크이노베이션</li>
                </ul>
            </div>
            
            <p>Copyright © Filmatique All Right Reserved.</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

{% block script %}

{% endblock %}
</body>

</html>