{% extends 'base.html' %}
{% block title %}예매 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='booking.css') }}">
{% endblock %}

{% block content %}
<div class="booking">

  <!-- 좌측 네비 -->
  <div class="booking_menu">
    <ul>
      <li class="active"><strong>01<br>상영시간</strong></li>
      <li><strong>02<br>인원/좌석</strong></li>
      <li><strong>03<br>결제</strong></li>
      <li><strong>04<br>결제완료</strong></li>
    </ul>
  </div>

  <!-- 우측 콘텐츠 -->
  <div class="booking_content">

    <!-- 01 단계 -->
    <div class="step active">

      <!-- 지역 -->
      <div class="select_group region">
        <h4>지역 선택</h4>
        <ul>
          <li><button>서울</button></li>
          <li><button>경기</button></li>
          <li><button>대전</button></li>
          <li><button>부산</button></li>
        </ul>
      </div>

      <!-- 영화관 -->
      <div class="select_group theater">
        <h4>영화관 선택</h4>
        <ul>
          <li data-region="서울"><button>강남스트리트점</button></li>
          <li data-region="서울"><button>홍대점</button></li>
          <li data-region="경기"><button>수원역점</button></li>
          <li data-region="대전"><button>대전성심당점</button></li>
          <li data-region="부산"><button>부산갈매기점</button></li>
        </ul>
      </div>

      <!-- 영화 -->
      <div class="select_group movie">
        <h4>영화 선택</h4>
        <ul>
          <li><button>범죄도시</button></li>
          <li><button>파묘</button></li>
        </ul>
      </div>
      <div class="datetime">
      <!-- 날짜 -->
      <div class="select_group date">
        <h4>날짜 선택</h4>
        <ul>
          <li><button>04-15</button></li>
          <li><button>04-16</button></li>
        </ul>
      </div>

      <!-- 시간 -->
      <div class="select_group time">
        <h4>시간 선택</h4>
        <ul>
          <li><button>12:00</button></li>
          <li><button>15:00</button></li>
        </ul>
      </div>
</div>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='booking.js') }}"></script>
{% endblock %}