{% extends 'base.html' %}
{% block title %}예매 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}

{% block content %}
<div class="booking">

  <!-- 좌측 네비 -->
  <div class="booking_menu">
    <ul class="d-flex flex-column text-center">
      <li class="active"><strong>01<br>상영시간</strong></li>
      <li><strong>02<br>인원/좌석</strong></li>
      <li><strong>03<br>결제</strong></li>
      <li><strong>04<br>결제완료</strong></li>
    </ul>
  </div>

  <!-- 우측 콘텐츠 -->
  <div class="booking_content">

    <!-- 01 단계 -->
    <div class="step">
      <ul>
        <li>영화관</li>
        <li>영화</li>
        <li>날짜/시간</li>
      </ul>

      <div class="detailtotal">
        <!-- 1. 지역 + 영화관 -->
        <div class="select_group theater_wrap d-flex">
          <div class="region_list flex-column">
            <ul class="list-unstyled">
              <li class="active">서울</li>
              <li>경기/인천</li>
              <li>강원</li>
              <li>충청/대전</li>
              <li>전라/광주</li>
              <li>경북/대구</li>
              <li>경남/부산</li>
              <li>제주</li>
            </ul>
          </div>

          <div class="theater_list flex-column">
            <ul class="list-unstyled">
              {% for theater in theaters %}
              <li class="{% if loop.first %}selected{% endif %}" data-region="{{ theater.region.name }}"
                data-theater-id="{{ theater.id }}">

                {{ theater.name }}

              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- 영화 -->
        <div class="select_group movie">
          <ul id="movieList">
            {% for movie in movies %}
            <li class="movie_title {% if movie.id == movie_id %}selected{% endif %}" data-movie-id="{{ movie.id }}">

              <!-- 관람등급 -->
              <span class="movie_age 
              {% if movie.certification == '19' %}age-19
              {% elif movie.certification == '15' %}age-15
              {% elif movie.certification == '12' %}age-12
              {% else %}age-all
              {% endif %}">
                {% if movie.certification == '정보없음' %}
                ALL
                {% else %}
                {{ movie.certification }}
                {% endif %}
              </span>

              <!-- 제목 -->
              {{ movie.title }}

            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="datetime">
          <!-- 날짜 -->
          <div class="select_group date">
            <ul></ul>
          </div>

          <!-- 시간 -->
          <div class="select_group time">
            <ul></ul>
          </div>
          <div class="btnToSeats">
            <a href="{{ url_for('film.person_seat') }}" id="btnSeats">좌석선택</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const isLogin = {{ 'true' if g.user else 'false' }};
  const movieId = "{{ movie_id }}";
</script>

<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}