{% extends 'base.html' %}
{% block title %}예매 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='booking.css') }}">
{% endblock %}

{% block content %}
<div class="booking">

  <!-- 좌측 네비 -->
  <div class="booking_menu">
    <ul class="d-flex flex-column text-center">
      <li class="active"><strong>01<br>상영시간</strong></li>
      <li><strong>02<br>인원/좌석</strong></li>
      <li><strong>03<br>결제</strong></li>
      <li><strong>04<br>결제완료</strong></li>
    </ul>
  </div>

  <!-- 우측 콘텐츠 -->
  <div class="booking_content">

    <!-- 01 단계 -->
    <div class="step">
      <ul>
        <li>영화관</li>
        <li>영화</li>
        <li>날짜/시간</li>
      </ul>

      <!-- 1. 지역 + 영화관 -->
      <div class="select_group theater_wrap d-flex">
        <div class="region_list flex-column">
          <ul class="list-unstyled">
            <li class="active">서울</li>
            <li>경기</li>
            <li>대전</li>
            <li>부산</li>
          </ul>
        </div>

        <div class="theater_list flex-column">
          <ul class="list-unstyled">
            <li data-region="서울">강남스트리트점</li>
            <li data-region="서울">홍대점</li>
            <li data-region="경기">수원역점</li>
            <li data-region="대전">대전성심당점</li>
            <li data-region="부산">부산갈매기점</li>
          </ul>
        </div>
      </div>

      <!-- 영화 -->
      <div class="select_group movie">
        <ul>
          <li><button>범죄도시</button></li>
          <li><button>파묘</button></li>
        </ul>
      </div>
      <div class="datetime">
        <!-- 날짜 -->
        <div class="select_group date">
          <ul>
            <li><button>04-15</button></li>
            <li><button>04-16</button></li>
          </ul>
        </div>

        <!-- 시간 -->
        <div class="select_group time">
          <ul>
            <li><button>12:00</button></li>
            <li><button>15:00</button></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='booking.js') }}"></script>
{% endblock %}