{% extends 'base.html' %}

{% block title %}이벤트 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/event.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>전체 이벤트</h2>
        <h3>영화</h3>
        <div id="event_1">
            <a href="#">
                <img src="../static/img/event_movie1.jpg" alt="">
                <div class="itm_date">2026.04.17 ~ 2026.04.30</div>
            </a>
            <a href="#">
                <img src="../static/img/event_movie2.jpg" alt="">
                <div class="itm_date">2026.04.15 ~ 2026.04.21</div>
            </a>
            <a href="#">
                <img src="../static/img/event_movie3.jpg" alt="">
                <div class="itm_date">2026.04.15 ~ 2026.04.21</div>
            </a>
        </div>
        <h3>시사회/무대인사</h3>
        <div id="event_2">
            <a href="#">
                <img src="../static/img/event_stage1.jpg" alt="">
                <div class="itm_date">2026.05.02 ~ 2026.05.05</div>
            </a>
            <a href="#">
                <img src="../static/img/event_stage2.jpg" alt="">
                <div class="itm_date">2026.04.25 ~ 2026.04.26</div>
            </a>
            <a href="#">
                <img src="../static/img/event_stage3.jpg" alt="">
                <div class="itm_date">2026.04.18 ~ 2026.04.19</div>
            </a>
        </div>
        <h3>HOT</h3>
        <div id="event_3">
            <a href="#">
                <img src="../static/img/event_hot3.jpg" alt="">
                <div class="itm_date">2026.04.19 ~ 2026.04.19</div>
            </a>
            <a href="#">
                <img src="../static/img/event_hot2.jpg" alt="">
                <div class="itm_date">2026.04.13 ~ 2026.05.31</div>
            </a>
            <a href="#">
                <img src="../static/img/event_hot1.jpg" alt="">
                <div class="itm_date">2026.04.13 ~ 2026.05.31</div>
            </a>
        </div>
        <h3>제휴할인</h3>
        <div id="event_4">
            <a href="#">
                <img src="../static/img/event_sale1.jpg" alt="">
                <div class="itm_date">2026.04.01 ~ 2026.12.31</div>
            </a>
            <a href="#">
                <img src="../static/img/event_sale2.jpg" alt="">
                <div class="itm_date">2026.04.01 ~ 2026.12.31</div>
            </a>
            <a href="#">
                <img src="../static/img/event_sale3.jpg" alt="">
                <div class="itm_date">2026.03.25 ~ 2026.04.15</div>
            </a>
        </div>
    </div>
{% endblock %} 