{% extends 'base.html' %}

{% block title %}이벤트 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/event.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>전체 이벤트</h2>
        <h3>영화</h3>
        <div id="event_1">
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/86440b7f4f9f4666a9de9afa7c4416b6.jpg" alt="">
                <div class="itm_date">2026.04.15 ~ 2026.05.12</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/b00530d6d31842d2bf8ed22f9a63cd25.jpg" alt="">
                <div class="itm_date">2026.04.15 ~ 2026.05.26</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/f66538631fa943fcb090fd9eb8956cf9.jpg" alt="">
                <div class="itm_date">2026.04.11 ~ 2026.05.12</div>
            </a>
        </div>
        <h3>시사회/무대인사</h3>
        <div id="event_2">
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/86a19e9037134436a5dadc4528a1a73e.jpg" alt="">
                <div class="itm_date">2026.04.12 ~ 2026.05.12</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/c04380af7e584bc5b3772894b072cafe.jpg" alt="">
                <div class="itm_date">2026.04.11 ~ 2026.05.11</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/06fa6fef76204a4f9515a25228ec0644.jpg" alt="">
                <div class="itm_date">2026.04.11 ~ 2026.05.11</div>
            </a>
        </div>
        <h3>HOT</h3>
        <div id="event_3">
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/0d0a6e2171f642a79ae0a0f81f660fe6.jpg" alt="">
                <div class="itm_date">2026.04.19 ~ 2026.05.19</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/cb7ea707c8bc49cda4a01dbeeb07a045.jpg" alt="">
                <div class="itm_date">2026.04.11 ~ 2026.05.18</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/43df7cd50e9540228f46dabdbac36fa8.jpg" alt="">
                <div class="itm_date">2026.04.08 ~ 2026.05.11</div>
            </a>
        </div>
        <h3>제휴할인</h3>
        <div id="event_4">
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/851a4740b26a4debad9123f9c74c137d.jpg" alt="">
                <div class="itm_date">2026.04.01 ~ 2026.12.31</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/47d7a7798d5448f4a17e7481127b65df.jpg" alt="">
                <div class="itm_date">2026.04.01 ~ 2026.12.31</div>
            </a>
            <a href="#">
                <img src="https://cf.lottecinema.co.kr//Media/Event/01ecdf26a8d44255bded0117c2bcd645.jpg" alt="">
                <div class="itm_date">2026.03.25 ~ 2026.04.15</div>
            </a>
        </div>
    </div>
{% endblock %} 