<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Atique</title>


    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <header>
        <div class="headermain">
            <div id="logo">
                <a href="../templates/main.html">
                    <img src="../static/img/filmatique_white.png" alt="로고">
                </a>
            </div>

            <nav>
                <div class="topnav">
                    <ul>
                        <li><a href="#">예 매</a></li>
                        <li><a href="#">영 화</a></li>
                        <li><a href="#">이벤트</a></li>
                        <li><a href="#">매 점</a></li>
                        <li><a href="#">굿 즈</a></li>
                    </ul>

                    <ul>
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">바로 예매</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main></main>

    <footer></footer>


</body>

</html>