{% extends 'base.html' %}
{% block title %}현재 상영작 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='movielist.css') }}">
{% endblock %}

{% block content %}
<div id="movie_list">
    <h3>현재 상영작</h3>
    <div class="movie">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='movielist.js') }}"></script>
{% endblock %}