{% extends 'base.html' %}
{% block title %}현재 상영작 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/movielist.css') }}">
{% endblock %}

{% block content %}
<div id="movie_list">
    <h3>현재 상영작</h3>
    <div class="movie">
        {% for movie in movies %}
        <div class="box">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">

            <h4>{{ movie.title }}</h4>

            <div class="txtbox">
                <a href="{{ url_for('film.booking', movie_id=movie.tmdb_id) }}">예매하기</a>
                <a href="/film/movie/{{ movie.tmdb_id }}">상세보기</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>const movieInfoUrl = "/film/movie/list/info"</script>
{% endblock %}