{% extends 'base.html' %}

{% block title %}movie_info - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/movie_info.css">
{% endblock %}

{% block content %}
<div class="movie_info">
    <div class="container">
        <div class="inner_left">
            <img src="../static/img/movie_info1.webp" alt="">
        </div>
        <div class="inner_right">
            <div class="movie_title">
                <h4>호퍼스</h4>
            </div>
            <div class="movie_detail">
                <div class="detail_left"></div>
                <div class="detail_right"></div>
            </div>
            <div class="movie_story">
                <div class="story_title">
                    <h4>줄거리</h4>
                </div>
                <div class="story_content"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}