{% extends 'base.html' %}
{% block title %}인원/좌석 선택 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/person_seat.css') }}">
{% endblock %}

{% block content %}
<div class="personseat">

  <!-- 좌측 네비 -->
  <div class="personseat_menu">
    <ul class="d-flex flex-column text-center">
      <li><strong>01<br>상영시간</strong></li>
      <li class="active"><strong>02<br>인원/좌석</strong></li>
      <li><strong>03<br>결제</strong></li>
      <li><strong>04<br>결제완료</strong></li>
    </ul>
  </div>

  <!-- 우측 콘텐츠 -->
  <div class="personseat_content">

    <!-- 01 단계 -->
    <div class="personseat_title">
      <ul>
        <li>인원/좌석 선택 <span>인원은 최대 8명까지 선택 가능합니다.</span></li>
      </ul>

      <div class="persontotal">
        <div class="selectmovie">
          <!-- 포스터 -->
          <div class="poster">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }} 포스터">
          </div>

          <!-- 정보 -->
          <div class="info">

            <!-- 등급 + 제목 -->
            <div class="title">
              <span class="age 
        {% if movie.certification == '19' %}age-19
        {% elif movie.certification == '15' %}age-15
        {% elif movie.certification == '12' %}age-12
        {% else %}age-all
        {% endif %}">
                {{ movie.certification if movie.certification != '정보없음' else 'ALL' }}
              </span>

              <strong>{{ movie.title }}</strong>
            </div>

            <!-- 날짜 + 시간 -->
            <div class="datetime">
              {{ schedule.start_time.strftime("%y.%m.%d (%a)") }}
              {{ schedule.start_time.strftime("%H:%M") }} ~
              {{ schedule.end_time.strftime("%H:%M") }}
            </div>

            <!-- 극장 정보 -->
            <div class="location">
              {{ theater.name }} / {{ screen.name }}
            </div>

          </div>
        </div>


        <!-- 02 단계 -->
        <div class="person_num">
          <span>성인</span>
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
        <div class="person_num">
          <span>청소년</span>
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
        <div class="person_num">
          <span>경로</span>
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
        <div class="person_num">
          <span>장애인</span>
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
      </div>
      <div class="seattotal">
        <div class="seatbar">
          <span>좌석 선택 후 결제하기 버튼을 클릭하세요</span>
          <span class="screen">S C R E E N</span>
        </div>

        <div class="seatselect"></div>

        <div class="seatinfo">
          <div class="seatinfo_list">
            <button class="selected"></button>
            <span>선택 좌석</span>
            <button class="unavailable"></button>
            <span>예매 완료</span>
            <button class="non"></button>
            <span>선택 불가</span>
          </div>
        </div>

      </div>

      <div class="price">
        <div class="total_price">0원</div>
        <a id="btnPayment" class="disabled" href="#">결제하기</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const movieId = "{{ movie_id }}";
</script>

<script src="{{ url_for('static', filename='js/person_seat.js') }}"></script>
{% endblock %}