{% extends 'base.html' %}
{% block title %}인원/좌석 선택 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/person_seat.css') }}">
{% endblock %}

{% block content %}
<div class="personseat">

  <!-- 좌측 네비 -->
  <div class="personseat_menu">
    <ul class="d-flex flex-column text-center">
      <li><strong>01<br>상영시간</strong></li>
      <li class="active"><strong>02<br>인원/좌석</strong></li>
      <li><strong>03<br>결제</strong></li>
      <li><strong>04<br>결제완료</strong></li>
    </ul>
  </div>

  <!-- 우측 콘텐츠 -->
  <div class="personseat_content">

    <!-- 01 단계 -->
    <div class="personseat_title">
      <ul>
        <li>인원/좌석 선택</li>
      </ul>

      <div class="persontotal">

        <!-- 02 단계 -->
        <div class="person_num">
          성인
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
        <div class="person_num">
          청소년
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
        <div class="person_num">
          경로
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>
        <div class="person_num">
          장애인
          <button class="mins">-</button>
          <div class="basic_num">0</div>
          <button class="plus">+</button>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}

  {% block script %}
  <script>
    const movieId = "{{ movie_id }}";
  </script>

  <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
  {% endblock %}