{% extends 'base.html' %}
{% block title %}결제 - 필름아티크{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/store_pay.css') }}">
{% endblock %}

{% block content %}
<div class="store_pay_inner">
    <div class="store__pay_page_top"></div>
    <div class="store__pay_page">
        <div class="menu_name">
            <div class="menu_name_top">
                <h2>상품정보</h2>
            </div>
            <div class="menu_name_main">
                <div class="product_img">
                    <img src="{{ order.product.Productimage_url }}">
                </div>
                <div class="product_name">
                    <h3>{{ order.product.Productname }}</h3>
                </div>
                <div class="product_detail">
                    <h4>{{ order.product.Productdescription }}</h4>
                </div>
                <div class="product_price">
                    <h2>{{ order.product.Productprice }}원</h2>
                </div>
            </div>
        </div>
        <div class="payment_sys">
            <div class="payment_sys_top">
                <h2>결제하기</h2>
            </div>
            <div class="card border-0 shadow-sm p-4 mt-4">
                <h5 class="fw-bold mb-3">결제 수단 선택</h5>

                <div id="payment-method"></div>

                <div id="agreement"></div>
                {# 결제 버튼에 총 결제 금액 표시 #}
                <button id="payment-button" class="btn btn-primary w-100 py-3 fw-bold mt-3 fs-5">
                    {{ order.total_price }}원 결제하기
                </button>
            </div>
        </div>
    </div>
    <div class="store__pay_page_bottom"></div>
</div>

<script src="https://js.tosspayments.com/v1/payment-widget"></script>
<script>
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = "USER_{{ session.get('user_id') }}";

    const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS);

    const orderId = "{{ order.id }}";
    const amount = {{ order.total_price }};

    // 결제 UI
    paymentWidget.renderPaymentMethods("#payment-method", { value: amount });
    paymentWidget.renderAgreement("#agreement");

    const paymentButton = document.getElementById("payment-button");

    paymentButton.addEventListener("click", function () {

        paymentWidget.requestPayment({
            orderId: orderId,  // DB 주문 ID 사용
            orderName: "{{ order.product.Productname }}",
            amount: amount,    // 총 금액 사용
            successUrl: window.location.origin + "/store/pay/success?order_id=" + orderId,
            failUrl: window.location.origin + "/store/pay/fail?order_id=" + orderId
        });

    });
</script>

{% endblock %}

{% block script %}
{% endblock %}